* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	border: 0;
	display: flex;
	flex-wrap: wrap;
	font-family: sans-serif;
}

header {
	margin: 0;
	border: 0;
	min-width: 100%;
	height: 400px;
	background-color: rgb(50,50,50);
	color: white;
	display: flex;
	align-items: flex-end;
}

h1 {
	width: 100%;
	text-align: center;
	text-shadow: 2px 2px 6px rgba(0,0,0,1);
	font-size: 40px;
	font-family: sans-serif;
	letter-spacing: 3px;
}

#search-bar, footer {
	min-height: 50px;
	min-width: 100%;
	margin: 0;
	border: 0;
	display: flex;
	background-color: rgb(100,100,100);
	align-items: center;
	justify-content: center;
}

#location, button {
	height: 40px;
	padding: 5px;
}

#location {
	width: 50%;
}

button {
	width: 100px;
}

a:link, a:visited {
	color: #4c030c;
}

a:hover {
	text-decoration: none;
}

#ny-times {
	min-height: 400px;
	width: 75%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

#articles {
	padding: 0 30px 30px 30px;
}

#articles p {
	padding: 5px 10px 20px 10px;
}

#wiki {
	background-color: rgb(150,150,150);
	min-height: 400px;
	width: 25%;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: top;
}

#wiki-head {
	max-height: 50px;
}

#wiki-links {
	padding: 10px;
}

h2, h3 {
	min-width: 100%;
}

h2 {
	display: flex;
	justify-content: center;
}